    *{margin: 0; padding: 0;}
    
    body{background-color: #eeeeee !important;}
    .container{
      padding: 0.5%;
    }
    .btn1{
      padding-left: 140px;
    }
    .btn1 .btn{
      width: 350px;
      border-radius: 25px;
      font-weight: bold;
    }
    ul, li, h6 {
      list-style: none;
      color: white;
    }
    h6{
      font-size: 12px;
      font-weight: lighter;
    }
    .left{
      font-weight: bold;
      padding: 0;
    }
    .left li{
      padding-top: 9px;
      font-size: 14px;
    }
    
    .navbar{
      display: inline-block;
      background-color: white;
      height: 80px !important;
      line-height: 30px !important;
  
    }
    .navbar .container{
      position: relative;
      left: 15%;
    
     
    }
   
    #collapsibleNavbar-m{opacity: 0;}


    /* 호버가 제대로 동작되게 하려면 부모쪽에서 동작이되게 */
    #collapsibleNavbar .nav-item:hover .dropdown-menu{
      display: block;
      margin-top: 30px;
      border: 1px solid white;
      border-radius: 0 !important;
      background-color: white;
      color: black;
      font-weight: bold;
      font-size: 14px;
      padding: 20px      
    }
    .nav-item .nav-link{
      color: black;
      position: relative;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
    }

    .nav-item .nav-link::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: -20px;          /* 글자 박스 맨 아래 */
      width: 100%;        /* 글자 폭만큼 */
      height: 4px;        /* 선 두께 */
      background: black;
      transform: scaleX(0);     /* 처음엔 안보임 */
      transform-origin: left;   /* 왼쪽에서부터 확장 */
      transition: transform 0.3s ease; /* 애니메이션 */
    }

    .navbar-nav .nav-link:hover::after {
      transform: scaleX(1);     /* 호버 시 선이 나타남 */
    }
    #collapsibleNavbar .nav-item .dropdown-toggle::after{
      border: none !important;
    }
    #collapsibleNavbar .nav-item:hover i{
      animation: ani01 0.5s ease-in-out forwards !important;
    }
      /* animation-name: ani01; */
      /* animation-duration: 0.5s; */
      /* animation-timing-function: ease-in-out; */
      
      /* 애니메이션 종료후 마지막 상태 유지. 원래 상태로 돌아가지 않음. */
      /* animation-fill-mode: forwards;   */

    @keyframes ani01{
      0%{transform: rotate(0deg);}
      100%{transform: rotate(90deg);}
    }